.aboutNubs{
    padding: 2.5%;
    margin: 0%;
}

.podcast-logo{
    margin-left: 20px;
    margin-right: 60px;
    width: 100px;

}
.podcast-logos{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;

}
.hostImages{
    background-color: black;
    width: 150px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
}
#ourHostNames{
    display: flex;
    justify-content: center;
}
#ourHosts{
    display: flex;
    justify-content: center;
}
.hostNames{
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}
#wilhelm{
    margin-left: 97px;
}
#isak{
    margin-left: 50px;
}
.hostsRoles{
    margin-left: 110px;
    margin-right: 110px;
}