.aboutNubs{
    padding: 2.5%;
    margin: 0%;
}

.podcast-title{
    margin-left: 40px;
    margin-right: 40px;
}
.podcast-logos{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

}
.host-images{
    background-color: black;
    width: 10%;
    margin: 5%
}
.host-names{
    font-weight: bold;
    margin: 5%;
    margin-top:2%;
}
#our-host-names{
    display: flex;
    justify-content: center;
}
.hostNames{
    text-align: center;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    
}
.hostsRoles{
    margin-left: 110px;
    margin-right: 110px;
}
.soundImages{
    display: flex;
    justify-content: center;
    height: 50%;
    width: 50%;
}
.siteColor{
    color: black;
    background-color: #f7f5f2;

}